.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: 1px solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.score {
    border: 1px solid black;
    width: 560px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: blueviolet;
    background-color: yellow;
}

.pac-dot {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
    border-radius: 50%;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 10px;
}

.blinky {
    background-color: red;
    border: 0px;
    border-radius: 50%;
}

.pinky {
    background-color: pink;
    border: 0px;
    border-radius: 50%;
}

.inky {
    background-color: cyan;
    border: 0px;
    border-radius: 50%;
}

.clyde {
    background-color: orange;
    border: 0px;
    border-radius: 50%;
}

.scared-ghost {
    background-color: aquamarine;
    border: 0px;
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;

}